Привет! меня зовут Люман Аблаев. Сегодня я проверю твой проект.
<br> Дальнейшее общение будет происходить на "ты" если это не вызывает никаких проблем.
<br> Желательно реагировать на каждый мой комментарий ('исправил', 'не понятно как исправить ошибку', ...)
<br> Пожалуйста, не удаляй комментарии ревьюера, так как они повышают качество повторного ревью.

Комментарии будут в <font color='green'>зеленой</font>, <font color='blue'>синей</font> или <font color='red'>красной</font> рамках:

<div class="alert alert-block alert-success">
<b>Успех:</b> Если все сделано отлично
</div>

<div class="alert alert-block alert-info">
<b>Совет: </b> Если можно немного улучшить
</div>

<div class="alert alert-block alert-danger">
<b>Ошибка:</b> Если требуются исправления. Работа не может быть принята с красными комментариями.
</div>

-------------------

Будет очень хорошо, если ты будешь помечать свои действия следующим образом:
<div class="alert alert-block alert-warning">
<b>Комментарий студента:</b> ...
</div>

<div class="alert alert-block alert-warning">
<b>Изменения:</b> Были внесены следующие изменения ...
</div>

<font color='orange' style='font-size:24px; font-weight:bold'>Общее впечатление</font>
* Спасибо за  качественную работу, мне она очень понравилась
- Я оставил некоторые советы надеюсь они будут полезными или интересными.
- Есть небольшие неочеты, которые нужно поправить и обновить вычисления и выводы
- Жду обновленную работу


<font color='orange' style='font-size:24px; font-weight:bold'>Общее впечатление[Итог]</font>
* Спасибо за оперативность
- Приятно видеть фидбек на комментарии.
- Недочеты исправлены - работа полностью корректна
- Рад был быть полезен. Удачи в дальнейшем обучении!

# Выбор локации для скважины

## Описание проекта

### Описание целей и задачи проекта

Нужно решить, где бурить новую скважину.
Шаги для выбора локации обычно такие:
* В избранном регионе собирают характеристики для скважин: качество нефти и объём её запасов;
* Строят модель для предсказания объёма запасов в новых скважинах;
* Выбирают скважины с самыми высокими оценками значений;
* Определяют регион с максимальной суммарной прибылью отобранных скважин.
Вам предоставлены пробы нефти в трёх регионах. Характеристики для каждой скважины в регионе уже известны. Постройте модель для определения региона, где добыча принесёт наибольшую прибыль. Проанализируйте возможную прибыль и риски техникой Bootstrap.

### Описание данных

* id — уникальный идентификатор скважины;
* f0, f1, f2 — три признака точек (неважно, что они означают, но сами признаки значимы);
* product — объём запасов в скважине (тыс. баррелей).

### Условия задачи

* Для обучения модели подходит только линейная регрессия (остальные — недостаточно предсказуемые).
* При разведке региона исследуют 500 точек, из которых с помощью машинного обучения выбирают 200 лучших для разработки.
* Бюджет на разработку скважин в регионе — 10 млрд рублей.
* При нынешних ценах один баррель сырья приносит 450 рублей дохода. Доход с каждой единицы продукта составляет 450 тыс. рублей, поскольку объём указан в тысячах баррелей.
* После оценки рисков нужно оставить лишь те регионы, в которых вероятность убытков меньше 2.5%. Среди них выбирают регион с наибольшей средней прибылью.

### План работы

* Загрузите и подготовьте данные. Поясните порядок действий.
* Обучите и проверьте модель для каждого региона: 2.1. Разбейте данные на обучающую и валидационную выборки в соотношении 75:25. 2.2. Обучите модель и сделайте предсказания на валидационной выборке. 2.3. Сохраните предсказания и правильные ответы на валидационной выборке. 2.4. Напечатайте на экране средний запас предсказанного сырья и RMSE модели. 2.5. Проанализируйте результаты.
* Подготовьтесь к расчёту прибыли: 3.1. Все ключевые значения для расчётов сохраните в отдельных переменных. 3.2. Рассчитайте достаточный объём сырья для безубыточной разработки новой скважины. Сравните полученный объём сырья со средним запасом в каждом регионе. 3.3. Напишите выводы по этапу подготовки расчёта прибыли.
* Напишите функцию для расчёта прибыли по выбранным скважинам и предсказаниям модели: 4.1. Выберите скважины с максимальными значениями предсказаний. 4.2. Просуммируйте целевое значение объёма сырья, соответствующее этим предсказаниям. 4.3. Рассчитайте прибыль для полученного объёма сырья.
* Посчитайте риски и прибыль для каждого региона: 5.1. Примените технику Bootstrap с 1000 выборок, чтобы найти распределение прибыли. 5.2. Найдите среднюю прибыль, 95%-й доверительный интервал и риск убытков. Убыток — это отрицательная прибыль. 5.3. Напишите выводы: предложите регион для разработки скважин и обоснуйте выбор.

## Загрузка и подготовка данных

In [1]:
import pandas as pd
import random
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from scipy.stats import t as t

from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score

<div class="alert alert-block alert-success">
<b>Успех:</b> Импорты на месте

In [3]:
#чтение файла 0
# df_0 = pd.read_csv('C:\\Users\\ASUS\\Downloads\\geo_data_0.csv')
df_0 = pd.read_csv('/datasets/geo_data_0.csv')

df_0.head()

      id        f0        f1        f2     product
0  txEyH  0.705745 -0.497823  1.221170  105.280062
1  2acmU  1.334711 -0.340164  4.365080   73.037750
2  409Wp  1.022732  0.151990  1.419926   85.265647
3  iJLyR -0.032172  0.139033  2.978566  168.620776
4  Xdl7t  1.988431  0.155413  4.751769  154.036647

In [ ]:
df_0.info()

In [4]:
#чтение файла 1
# df_1 = pd.read_csv('C:\\Users\\ASUS\\Downloads\\geo_data_1.csv')
df_1 = pd.read_csv('/datasets/geo_data_1.csv')
df_1.head()

      id         f0         f1        f2     product
0  kBEdx -15.001348  -8.276000 -0.005876    3.179103
1  62mP7  14.272088  -3.475083  0.999183   26.953261
2  vyE1P   6.263187  -5.948386  5.001160  134.766305
3  KcrkZ -13.081196 -11.506057  4.999415  137.945408
4  AHL4O  12.702195  -8.147433  5.004363  134.766305

In [ ]:
df_1.info()

In [5]:
#чтение файла 2
# df_2 = pd.read_csv('C:\\Users\\ASUS\\Downloads\\geo_data_2.csv')
df_2 = pd.read_csv('/datasets/geo_data_2.csv')
df_2.head()

      id        f0        f1        f2     product
0  fwXo0 -1.146987  0.963328 -0.828965   27.758673
1  WJtFt  0.262778  0.269839 -2.530187   56.069697
2  ovLUW  0.194587  0.289035 -5.586433   62.871910
3  q6cA6  2.236060 -0.553760  0.930038  114.572842
4  WPMUX -0.515993  1.716266  5.899011  149.600746

In [6]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 5 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       100000 non-null  object
 1   f0       100000 non-null  float64
 2   f1       100000 non-null  float64
 3   f2       100000 non-null  float64
 4   product  100000 non-null  float64
dtypes: float64(4), object(1)
memory usage: 3.8+ MB

### Посик дубликатов

In [7]:
print(df_0.duplicated().sum())
print(df_1.duplicated().sum())
print(df_2.duplicated().sum())

0
0
0

In [8]:
df_0[df_0.duplicated(subset='id')]

          id        f0        f1         f2     product
7530   HZww2  1.061194 -0.373969  10.430210  158.828695
41724  bxg6G -0.823752  0.546319   3.630479   93.007798
51970  A5aEY -0.180335  0.935548  -2.094773   33.020205
63593  QcMuo  0.635635 -0.473422   0.862670   64.578675
66136  74z30  1.084962 -0.312358   6.990771  127.643327
69163  AGS9W -0.933795  0.116194  -3.655896   19.230453
75715  Tdehs  0.112079  0.430296   3.218993   60.964018
90815  fiKDv  0.049883  0.841313   6.394613  137.346586
92341  TtcGQ  0.110711  1.022689   0.911381  101.318008
97785  bsk9y  0.378429  0.005837   0.160827  160.637302

In [9]:
df_0=df_0.drop_duplicates(subset='id')
df_0[df_0.duplicated(subset='id')]

Empty DataFrame
Columns: [id, f0, f1, f2, product]
Index: []

In [10]:
df_1[df_1.duplicated(subset='id')]

          id         f0        f1        f2     product
41906  LHZR0  -8.989672 -4.286607  2.009139   57.085625
82178  bfPNe  -6.202799 -4.820045  2.995107   84.038886
82873  wt4Uk  10.259972 -9.376355  4.994297  134.766305
84461  5ltQ6  18.213839  2.191999  3.993869  107.813044

In [11]:
df_1=df_1.drop_duplicates(subset='id')
df_1[df_1.duplicated(subset='id')]

Empty DataFrame
Columns: [id, f0, f1, f2, product]
Index: []

In [12]:
df_2[df_2.duplicated(subset='id')]

          id        f0        f1        f2     product
43233  xCHr8 -0.847066  2.101796  5.597130  184.388641
49564  VF7Jo -0.883115  0.560537  0.723601  136.233420
55967  KUPhW  1.211150  3.176408  5.543540  132.831802
95090  Vcm5J  2.587702  1.986875  2.482245   92.327572

In [ ]:
df_2=df_2.drop_duplicates(subset='id')
df_2[df_2.duplicated(subset='id')]

Нашли не явные дубликаты в столбце 'id'. Т.к. их немного, можно от них избавиться - нет значимого влияния на статистику.

ВОПРОС:
Каким образом можно было заменить пропущенные дубликаты, чтобы при замене они выдавали bool значение False, а не оставалось True?


<div class="alert alert-block alert-info">
<b>Ответ </b> Извини, но я не до конца понял вопрос, ты удаляешь неявные дубликаты, о каких пропущенных дубликатах идет речь? И где они у тебя имено остаются в положении True?
    
</div>

<div class="alert alert-block alert-success">
<b>Успех:</b> Данные можно было бы осмотреть подробнее, как минимум изучить корреляцию, так как планируется использовать линейные модели. Также не забывай про вывод
     
  
</div>
<div class="alert alert-block alert-info">
<b>Совет </b>  Советую обратить внимание на библиотеки sweetviz и pandas_profiling помогут в проведении более тщательного EDA анализа. Исследовательский анализ можно делать и с помощью ручного вызова функций дефолтных библиотек. Данные библиотеки хороши для максимизации комфорта презентации результатов анализа бизнес-пользователям. 
    
Очень просты в использоовании, на вход кладется датафрейм: pandas_profiling.ProfileReport(df) 
    
</div>

<div class="alert alert-block alert-warning">
<b>Комментарий студента:</b> я хочу понять, как можно поменять имя 'id' у неявных дубликатов. Значения bool нахожу по функции df_2.duplicated(subset='id'). Честно, сейчас не успеваю изучить эти библиотеки, возможно, там и можно что-то поменять - посмотрю. Спасибо за совет!
</div>

<div class="alert alert-block alert-success">
    
<b>Ответ[2]:</b> Если ты хочешь, чтобы был False, а не True добавь  минус: `-df_2[df_2.duplicated(subset='id')]`. А зачем менять у них имя, если мы дальше все равно избавляемся от этой колонки?
     
  
</div>

### Разбиение данных

In [15]:
#признаки региона 1
target_0 = df_0['product']
features_0 = df_0.drop(['id','product'],axis=1)
features_train_0, features_valid_0, target_train_0, target_valid_0 = train_test_split(
    features_0, target_0, test_size=0.25, random_state=12345)

#масштабирование признаков
scaler_0 = StandardScaler()
scaler_0.fit(features_train_0)
features_train_0 = scaler_0.transform(features_train_0)
#преобразование валидационной выборки

features_valid_0 = scaler_0.transform(features_valid_0)
print(features_train_0.shape)
print(features_valid_0.shape)

(74992, 3)
(24998, 3)

In [16]:
#признаки региона 2
target_1 = df_1['product']
features_1 = df_1.drop(['id','product'],axis=1)
features_train_1, features_valid_1, target_train_1, target_valid_1 = train_test_split(
    features_1, target_1, test_size=0.25, random_state=12345)

#масштабирование признаков
scaler_1 = StandardScaler()
scaler_1.fit(features_train_0)
features_train_1 = scaler_1.transform(features_train_1)
#преобразование валидационной выборки

features_valid_1 = scaler_1.transform(features_valid_1)
print(features_train_1.shape)
print(features_valid_1.shape)

(74997, 3)
(24999, 3)

In [17]:
#признаки региона 3
target_2 = df_2['product']
features_2 = df_2.drop(['id','product'],axis=1)
features_train_2, features_valid_2, target_train_2, target_valid_2 = train_test_split(
    features_2, target_2, test_size=0.25, random_state=12345)

#масштабирование признаков
scaler_2 = StandardScaler()
scaler_2.fit(features_train_2)
features_train_2 = scaler_2.transform(features_train_2)
#преобразование валидационной выборки

features_valid_2 = scaler_2.transform(features_valid_2)
print(features_train_2.shape)
print(features_valid_2.shape)

(74997, 3)
(24999, 3)

### Вывод

В данных отсутствовали пропуски, но присутствовали неявные дубликаты, которые убрали.

<div class="alert alert-block alert-success">
<b>Успех:</b> Отлично, что scaler обучен только на трейне

## Проверка модели для каждого региона

### Список из Датафреймов

### Обучение модели

In [18]:
#функция предсказани
def predicted_valid(features_train,target_train,features_valid):
    model=LinearRegression()
    model.fit(features_train,target_train)
    return model.predict(features_valid)
#функция вычисления метрик
def metrics(target_valid,predicted_valid,target_train):
    mse = mean_squared_error(target_valid, predicted_valid)

    print('Сравнение MSE и RMSE модели со средним:')
    print()
    print("Linear Regression")
    print("MSE =", mse)
    print("RMSE =", mse ** 0.5)
    print("R2 =", r2_score(target_valid,predicted_valid))
    print(mean_absolute_error(target_valid,predicted_valid))
    print()

    predicted_valid1 = pd.Series(target_train.mean(),index=target_valid.index)
    mse = mean_squared_error(target_valid, predicted_valid1)
    print("Mean")
    print("MSE =", mse)
    print("RMSE =", mse ** 0.5)
    print('Mean =', df_1['product'].mean())

    print()
    print('Сравнение MAE модели с медианным значением:')
    print("Linear Regression")
    print(mean_absolute_error(target_valid, predicted_valid1))
    print()

    predicted_valid1 = pd.Series(target_train.median(),target_valid.index)# < напишите код здесь >
    print("Median")
    print(mean_absolute_error(target_valid,predicted_valid1))

In [19]:
#1 регион
predicted_valid_0=predicted_valid(features_train_0,target_train_0,features_valid_0)
metrics(target_valid_0,predicted_valid_0,target_train_0)

Сравнение MSE и RMSE модели со средним:

Linear Regression
MSE = 1432.8895312377324
RMSE = 37.853527328872964
R2 = 0.2723923460817068
31.141028675220266

Mean
MSE = 1969.5234938980077
RMSE = 44.379313806074194
Mean = 68.82391591806625

Сравнение MAE модели с медианным значением:
Linear Regression
37.79437458881826

Median
37.78923861936353

<div class="alert alert-block alert-danger">
    
<b>Ошибка:</b> А зачем ты в переменную `predicted_valid_0` кладешь серию из средних или медиан, в итоге затираешь обычные предсказания и дальше в бутстрапе используешь некорректные значения?
</div>

In [20]:
#2 регион
predicted_valid_1=predicted_valid(features_train_1,target_train_1,features_valid_1)
metrics(target_valid_1,predicted_valid_1,target_train_1)

Сравнение MSE и RMSE модели со средним:

Linear Regression
MSE = 0.7957697318650315
RMSE = 0.8920592647717032
R2 = 0.9996222988190184
0.7193530096516102

Mean
MSE = 2107.1096045596773
RMSE = 45.90326355020607
Mean = 68.82391591806625

Сравнение MAE модели с медианным значением:
Linear Regression
40.25438390789976

Median
40.27343750437264

<div class="alert alert-block alert-danger">
    
<b>Ошибка:</b> И здесь
</div>

In [21]:
#3 регион
predicted_valid_2=predicted_valid(features_train_2,target_train_2,features_valid_2)
metrics(target_valid_2,predicted_valid_2,target_train_2)

Сравнение MSE и RMSE модели со средним:

Linear Regression
MSE = 1606.0738119304278
RMSE = 40.07585073246016
R2 = 0.19556241810202346
32.83139014902301

Mean
MSE = 1996.5984591908616
RMSE = 44.68331298360565
Mean = 68.82391591806625

Сравнение MAE модели с медианным значением:
Linear Regression
37.75741108082467

Median
37.757163088120144

<div class="alert alert-block alert-danger">
    
<b>Ошибка:</b> Тоже самое
</div>

<div class="alert alert-block alert-warning">
<b>Изменения:</b> вернул предсказания - очень грубо ошибся, изначально этого не заметил. Добавил функцию результата предсказаний и вычисления метрик
</div>

<div class="alert alert-block alert-success">
<b>Успех[2]:</b> Ничего страшного, порой такие ошибки невнимательне мы совершаем, что 1 символ потом исправляем весь день) Это человеческий фактор. Главное, что ты это  легко понял и осознал)
     
  
</div>

### Вывод

Модель для 2го региона более точная, т.к. имеет наименьший показатель RMSE(<1). У остальных моделей RMSE > 37. В среднем в модель 1го и 3го региона ошибается на 37(тыс. баррелей). Модель 2го региона в среднем ошибается на 40(тыс. баррелей)

<div class="alert alert-block alert-success">
    
<b>Ответ:</b> А с чего ты взял, что модель не устойчива? Наборот можно говорить, что модель очень точная, в отличие от других регионов, где не важно, что на вход подается среднее значение или предсказаное значение
</div>

<div class="alert alert-block alert-info">
<b>Совет:</b> Можно использовать циклы/функции и избежать дублирования кода
</div>

<div class="alert alert-block alert-warning">
<b>Комментарий студента:</b> принял, исправил предсказания и сделал новые выводы.
</div>

<div class="alert alert-block alert-success">
<b>Успех[2]:</b> Стало намного лучше, молодец
     
  
</div>

## Подготовка к расчету прибыли

<div class="alert alert-block alert-warning">
<b>Изменения:</b> константные переменные написал с верхним регистром.
</div>

<div class="alert alert-block alert-success">
<b>Успех[2]:</b> Есть
     
  
</div>

In [22]:
#значения дл расчета
PROFIT_BAR = 450000
BUDGET = 10**10
POINTS_FOR_BUDGET = 200

<div class="alert alert-block alert-info">
    
<b>Совет:</b> Константы принято записывать в верхнем регистре. А большие значения можно записывать следующим образом: `profit_bar = 450_000` - записи индетичны

In [23]:
#бюджет для скважины
BUDGET_FOR_WELL=BUDGET/POINTS_FOR_BUDGET
BUDGET_FOR_WELL

50000000.0

In [24]:
#достаточный объем сырья(тыс. баррелей)
VOLUME=BUDGET_FOR_WELL/PROFIT_BAR
VOLUME

111.11111111111111

In [25]:
#средний запас в регионе 1
df_0['product'].mean()

92.49968421774328

In [26]:
#средний запас в регионе 2
df_1['product'].mean()

68.82391591806625

In [27]:
#средний запас в регионе 3
df_2['product'].mean()

94.99834211933415

### Вывод

Если сравнивать среднее значение объема сырья регионов с достаточным объемом сырья для неотрицательной прибыли, то можно заметить, что все региона испытывают недостаток. 1 регион на 18,5(тыс. баррелей); 2 регион - 42,2(тыс. баррелей); 3 регион - 16(тыс. баррелей).

<div class="alert alert-block alert-success">
<b>Успех:</b> Значение для безубыточной разработки посчитано верно, с выводом согласен
  
</div>

## Функция для расчета прибыли

In [28]:
def revenue(target, predictions_valid, count):
    probs_sorted = predictions_valid.sort_values(ascending=False)
    selected = target[probs_sorted.index][:count]
    return PROFIT_BAR * selected.sum() - BUDGET

<div class="alert alert-block alert-info">
    
<b>Совет:</b> Функция определена правильно, почему бы не занести вычитание `budget` в функцию, чтобы потом везде не выполнять данное действие?
  
</div>

<div class="alert alert-block alert-warning">
<b>Комментарий студента:</b> согласен, логично.
</div>

<div class="alert alert-block alert-warning">
<b>Изменения:</b> в возвращении своей функции добавил вычитание расходов из доходов.
</div>

<div class="alert alert-block alert-success">
<b>Успех[2]:</b> Есть контакт
     
  
</div>

## Риски и прибыль для каждого региона

### Распределение прибыли

<div class="alert alert-block alert-warning">
<b>Изменения:</b> добавил функцию.
</div>

In [29]:
def append_value(target_valid,predicted_valid):
    state = np.random.RandomState(12345)
    values = []
    for i in range(1000):
        target_subsample = target_valid.sample(frac=None, replace=True, random_state=state, n=500, axis=0)
        probs_subsample = pd.Series(data=predicted_valid, index=target_valid.index)[target_subsample.index]
        values.append(revenue(target_subsample, probs_subsample, 200))
    return values

In [30]:
#1 регион
values_0 = append_value(target_valid_0,predicted_valid_0)

In [31]:
#2 регион
values_1 = append_value(target_valid_1,predicted_valid_1)

In [32]:
#3 регион
values_2 = append_value(target_valid_2,predicted_valid_2)

<div class="alert alert-block alert-success">
<b>Успех:</b> Бутстрап определен верно
  
</div>

### Cредняя прибыль, 95%-й доверительный интервал и риск убытков

In [33]:
values_0=pd.Series(values_0)
values_1=pd.Series(values_1)
values_2=pd.Series(values_2)

In [34]:
def mark_region(values):
    print('Средняя прибыль',values.mean())#средняя прибыль

    print("95%-ый доверительный интервал:", 'от',values.quantile(0.025),'до',values.quantile(0.975))
    risk=len(values.loc[values<0])/len(values) * 100
    print('Риск =',risk)

In [35]:
#1 регион
mark_region(values_0)

Средняя прибыль 409428038.6214359
95%-ый доверительный интервал: от -131536028.70166382 до 944395582.7546725
Риск = 7.1

In [36]:
#2 регион
mark_region(values_1)

Средняя прибыль 536902587.4874535
95%-ый доверительный интервал: от 114527902.9023869 до 970787910.9953709
Риск = 0.8999999999999999

In [37]:
#3 регион
mark_region(values_2)

Средняя прибыль 353790362.7309422
95%-ый доверительный интервал: от -159194031.1913282 до 875652502.8711312
Риск = 10.2

<div class="alert alert-block alert-danger">
    
<b>Ошибка:</b> Риски это не верхняя граница дов.интервала. Это доля отрицательных прибылей в списке `values_i`
  
</div>

<div class="alert alert-block alert-warning">
<b>Комментарий студента:</b> принял, как раз теперь в моей выборке появились положительные показатели прибыли, помимо отрицательны. На основе этого сделал соответствующие выводы.
</div>

<div class="alert alert-block alert-warning">
<b>Изменения:</b> добавил функцию.
</div>

<div class="alert alert-block alert-success">
<b>Успех[2]:</b> Теперь все метрики считаются правильно!
     
  
</div>

### Вывод

Выбираем 2й регион.

2 регион прошел проверку на риск убытка - составляет примерно 0,9%. У остальных регионов риск убытка больше 7%.

<div class="alert alert-block alert-info">
    
<b>Совет:</b> Тут циклы и функции тоже будут весьма кстати

<div class="alert alert-block alert-warning">
<b>Комментарий студента:</b> принял, исправил.
</div>

<div class="alert alert-block alert-success">
<b>Успех[2]:</b> Отлично
     
  
</div>

## Общий вывод по регионам

1 регион:
1)Модель менее точна в сравнении с моделью 2го региона. Среднее значение объема(в тыс. бареллей) имеет недостаток до достаточного объема сырья на 18,5 тыс. бареллей.
2)Риск убытка составляет 7,1%.

2 регион:
1)Более точная модель. Среднее значение объема(в тыс. бареллей) имеет недостаток до достаточного объема сырья на 42,2 тыс. бареллей.
2)Риск убытка составляет 0,9%.

3 регион:
1)Модель менее точна в сравнении с моделью 2го региона. Среднее значение объема(в тыс. бареллей) имеет недостаток до достаточного объема сырья на 16 тыс. бареллей.
2)Риск убытка составляет 10,2%.

Более рентабилен оказался 2й регион по всем показателям, выбрали его по условию задачи.

<div class="alert alert-block alert-info">
    
<b>Совет:</b> Не забудь обновить вывод

<div class="alert alert-block alert-warning">
<b>Изменения:</b> вывод.
</div>

<div class="alert alert-block alert-danger">
    
<b>Ошибка[2]:</b> Отлично, проведено детальное исследование! Но верно ли ты выбрал регион? Прочитай пожалуйста внимательнее: `После оценки рисков нужно оставить лишь те регионы, в которых вероятность убытков меньше 2.5%. Среди них выбирают регион с наибольшей средней прибылью.`
     
  
</div>

<div class="alert alert-block alert-danger">
    
<b>Ошибка[3]:</b> Мы не можем выбрать 3-ий регион, у него риск убытков больше 2.5% и средняя прибыль не самая большая
     
  
</div>

<div class="alert alert-block alert-warning">
<b>Комментарий студента[3]:</b> прошу прощения. показалось что отправил новую версию, оказалось не так. Принял. Исправил. Там в предыдущем выводе как раз и был 2 регион, но в общем выводе забыл исправить. Спасибо!
</div>

<div class="alert alert-block alert-success">

<b>Успех[4]:</b> Ничего страшного, главное, что ты подразумевал правильный регион. Меня и смутило, что в предыдущем выводе 2 регион, а здесь 3. Решил спросить у тебя) Проведено детальное исследование, молодец!
</div>

### Вопросы

Что показатели MSE и RMSE дают понять мне, как специалисту? И как правильно с ними работать и их воспринимать?

<div class="alert alert-block alert-info">
    
<b>Ответ:</b> Данные метрики используются в сравнении между моделями. Эти показатели говорят нам, насколько точны наши прогнозы и какова величина отклонения от фактических значений. Чем ниже RMSE, тем лучше модель соответствует набору данных.

<div class="alert alert-block alert-warning">
<b>Комментарий студента:</b> понял, спасибо большое! Постарался все исправить.
</div>